* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  display: inherit !important;
  background: #f4f4f4 !important;
}

nav {
  background-color: #ee6e7300 !important;
  box-shadow: none !important;
}
.nav-link {
  color: #fff !important;
  font-size: 19px !important;
}
.bg-sec-header {
  background: url("/src/images/Header.jpg") no-repeat;
  background-size: auto;
  min-height: 390px;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 2rem;
}
.logo-img {
  width: 285px;
  height: 93px;
}
nav ul a {
  color: #fff;
  font-size: 20px;
}
.nav-wrapper {
  padding-top: 3rem;
}
.content-sec {
  padding: clamp(1rem, 6vw, 6rem);
  padding-top: 4rem;
  justify-content: space-around;
}
.post-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background: #fff;
  padding: 2rem;
  border-radius: 0.3rem;
}
.form-box {
  background: #fff;
  padding: 2rem;
  border-radius: 0.3rem;
  line-height: 3rem;
  max-height: 776px;
}
.form-box .form-label {
  margin-bottom: 0 !important;
}
.submit-btn,
.load-more {
  background: #f27623;
  padding: 0 7rem;
  border-radius: 3rem;
  margin: 0 auto;
  margin-top: 0px;
  display: block;
  margin-top: 2rem;
  color: #fff;
  font-size: 21px;
  font-weight: 700;
  height: 3rem;
}
.main .card-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

@media screen and (min-width: 768px) {
  .main {
    padding: 0 !important;
  }
  .form-box {
    max-height: 776px;
  }
}
